.main-projects {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--main-text);
  background-color: var(--main-bg);

  &__tagline {
    margin-bottom: 30px;
  }

  &__grid {
    display: grid;
    gap: 20px;
  }

  @include media-min ($md) {
    padding-top: 70px;
    padding-bottom: 70px;

    &__tagline {
      margin-bottom: 40px;
      max-width: 590px;
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }

  @include media-min ($xl) {
    padding-top: 80px;
    padding-bottom: 80px;

    &__tagline {
      max-width: 780px;
    }
  }
}
