.cb-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  padding-left: 30px;
  color: var(--main-text);
  background-color: var(--main-bg);
  box-shadow: 1px 3px 24px 0 rgba(31, 45, 51, 0.04);
  border-radius: var(--b-radius);
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background-color: var(--accent);
  }

  &__title {
    margin-bottom: 24px;
  }

  &__list {
    margin-bottom: 30px;
  }

  @include media-min ($md) {
    align-items: flex-start;
  }

  @include media-min ($xl) {
    &__list {
      margin-bottom: 40px;
    }
  }
}
