.item-card {
  position: relative;
  color: var(--main-text-inv);
  background-color: var(--main-bg-inv);
  border-radius: var(--b-radius);
  height: 160px;
  overflow: hidden;
  z-index: 1;

  &::before {
    @include full-size;

    content: '';
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
    z-index: 2;
  }

  &__img {
    @include full-size;

    z-index: 1;
  }

  &__meta {
    @include full-size;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    z-index: 3;
  }

  &__title {
    position: relative;
    padding-right: 30px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.7806 13.0306L14.0306 19.7806C13.8899 19.9213 13.699 20.0003 13.5 20.0003C13.301 20.0003 13.1101 19.9213 12.9694 19.7806C12.8286 19.6398 12.7496 19.449 12.7496 19.2499C12.7496 19.0509 12.8286 18.86 12.9694 18.7193L18.4397 13.2499H3.75C3.55109 13.2499 3.36032 13.1709 3.21967 13.0303C3.07902 12.8896 3 12.6988 3 12.4999C3 12.301 3.07902 12.1103 3.21967 11.9696C3.36032 11.8289 3.55109 11.7499 3.75 11.7499H18.4397L12.9694 6.28055C12.8286 6.13982 12.7496 5.94895 12.7496 5.74993C12.7496 5.55091 12.8286 5.36003 12.9694 5.2193C13.1101 5.07857 13.301 4.99951 13.5 4.99951C13.699 4.99951 13.8899 5.07857 14.0306 5.2193L20.7806 11.9693C20.8504 12.039 20.9057 12.1217 20.9434 12.2127C20.9812 12.3038 21.0006 12.4014 21.0006 12.4999C21.0006 12.5985 20.9812 12.6961 20.9434 12.7871C20.9057 12.8782 20.8504 12.9609 20.7806 13.0306Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: translateY(-50%);
    }
  }

  &__descr {
    margin-top: 6px;
  }

  &__link {
    @include full-size;

    z-index: 4;
  }

  @include media-min ($md) {
    height: 220px;
  }

  @include media-min ($xl) {
    height: 260px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: var(--accent);
      opacity: 0;
      transition: transform .25s ease-in-out, opacity .25s ease-in-out;
      z-index: 2;
    }

    &:hover,
    &:focus-within {
      &::after {
        transform: translateX(100%);
        opacity: 1;
      }
    }

    &__meta {
      padding: 30px;
    }

    &__title {
      padding-right: 36px;

      &::after {
        width: 32px;
        height: 32px;
      }
    }

    &__descr {
      margin-top: 12px;
    }
  }
}
