.pagination {
  @include list-reset;

  display: flex;
  justify-content: center;
  margin-right: -4px;
  padding-top: 20px;

  &>li {
    margin-right: 4px;
  }

  & a,
  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    line-height: 1;
    color: var(--main-text);
    border-radius: 50%;
    white-space: nowrap;
    text-decoration: none;
    overflow: hidden;
  }

  & .prev,
  & .next {
    & a {
      font-size: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 14px auto;
      border: 1px solid var(--accent);
    }
  }

  & .prev {
    margin-right: 12px;

    & a {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.14133 5.44837L5.27306 8.57986C5.33275 8.63752 5.38037 8.70648 5.41312 8.78274C5.44588 8.85899 5.46312 8.941 5.46384 9.02399C5.46456 9.10698 5.44875 9.18928 5.41732 9.26609C5.3859 9.3429 5.33949 9.41268 5.28081 9.47136C5.22213 9.53004 5.15234 9.57645 5.07553 9.60788C4.99872 9.6393 4.91642 9.65512 4.83344 9.6544C4.75045 9.65367 4.66844 9.63643 4.59218 9.60368C4.51593 9.57092 4.44697 9.52331 4.38931 9.46361L0.273571 5.34818C0.241103 5.32613 0.210706 5.30101 0.182816 5.27312C0.124133 5.21444 0.0777241 5.14465 0.0462986 5.06784C0.0148731 4.99103 -0.000940738 4.90873 -0.000219767 4.82575C0.000502157 4.74276 0.0177436 4.66075 0.0504995 4.58449C0.0784278 4.51948 0.117157 4.45977 0.164966 4.40784C0.172994 4.39882 0.181308 4.39001 0.189893 4.38142C0.196435 4.37488 0.203108 4.3685 0.209905 4.36228L4.389 0.183184C4.51119 0.0613096 4.67119 5.89138e-05 4.83119 5.88998e-05C4.95478 8.46382e-05 5.07559 0.0367544 5.17835 0.105432C5.2811 0.17411 5.36119 0.271712 5.40849 0.3859C5.45578 0.500087 5.46816 0.625733 5.44405 0.746954C5.41995 0.868174 5.36044 0.979527 5.27306 1.06693L2.1414 4.19837L12.5068 4.19836C12.6726 4.19836 12.8316 4.26421 12.9488 4.38142C13.066 4.49863 13.1318 4.6576 13.1318 4.82336C13.1318 4.98912 13.066 5.1481 12.9488 5.26531C12.8316 5.38252 12.6726 5.44836 12.5068 5.44836L2.14133 5.44837Z' fill='%23BD0300'/%3E%3C/svg%3E");
    }
  }

  & .next {
    margin-left: 12px;

    & a {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9905 4.20605L7.85877 1.07456C7.79908 1.0169 7.75147 0.947936 7.71871 0.871683C7.68596 0.795431 7.66871 0.713418 7.66799 0.630431C7.66727 0.547444 7.68309 0.465145 7.71451 0.388334C7.74594 0.311524 7.79234 0.241741 7.85103 0.183058C7.90971 0.124376 7.97949 0.0779674 8.0563 0.0465414C8.13311 0.015116 8.21541 -0.00069739 8.2984 2.35882e-05C8.38139 0.000745043 8.4634 0.0179865 8.53965 0.0507419C8.6159 0.0834977 8.68487 0.131111 8.74253 0.190805L12.8583 4.30624C12.8907 4.32829 12.9211 4.35341 12.949 4.3813C13.0077 4.43998 13.0541 4.50977 13.0855 4.58658C13.117 4.66339 13.1328 4.74569 13.1321 4.82867C13.1313 4.91166 13.1141 4.99367 13.0813 5.06993C13.0534 5.13494 13.0147 5.19465 12.9669 5.24658C12.9588 5.2556 12.9505 5.26441 12.9419 5.273C12.9354 5.27954 12.9287 5.28592 12.9219 5.29214L8.74284 9.47124C8.62065 9.59311 8.46065 9.65436 8.30065 9.65436C8.17705 9.65434 8.05624 9.61767 7.95349 9.54899C7.85073 9.48031 7.77064 9.38271 7.72335 9.26852C7.67606 9.15433 7.66368 9.02869 7.68778 8.90747C7.71189 8.78625 7.77139 8.67489 7.85877 8.58749L10.9904 5.45605H0.625C0.45924 5.45605 0.300269 5.39021 0.183058 5.273C0.065848 5.15579 0 4.99681 0 4.83105C0 4.66529 0.065848 4.50632 0.183058 4.38911C0.300269 4.2719 0.45924 4.20605 0.625 4.20605H10.9905Z' fill='%23BD0300'/%3E%3C/svg%3E");
    }
  }

  & .active {
    & span {
      background-color: var(--accent);
      color: var(--main-text-inv);
    }
  }

  @include media-min ($xl) {
    & a {
      transition: color .15s ease-in-out;

      &:hover {
        color: var(--link-hover);
      }
    }

    & .prev,
    & .next {

      & a {
        transition: opacity .15s ease-in-out;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
