.promo {
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--main-text);
  background-color: var(--main-bg);

  &__inner {
    border-radius: var(--b-radius);
    overflow: hidden;
    box-shadow: 1px 3px 24px 0 rgba(31, 45, 51, 0.04);
  }

  &__img {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;

    & img {
      display: block;

      @include full-size;
    }
  }

  &__meta {
    padding: 24px 16px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__list {
    margin-bottom: 24px;
  }

  &__btn {
    width: 100%;
  }

  @include media-min ($md) {
    &__inner {
      display: flex;
      flex-direction: row-reverse;
    }

    &__img {
      height: auto;
      padding-bottom: 0;
      flex-basis: 100%;
    }

    &__meta {
      flex-basis: 100%;
      padding: 24px;
      max-width: 330px;
    }
  }

  @include media-min ($xl) {
    &__meta {
      padding: 40px;
      max-width: 540px;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__list {
      margin-bottom: 40px;
    }

    &__btn {
      width: auto;
    }
  }
}
